@model Nguyenvanbac_231230717_de01.Models.NvbComputer

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>NvbComputer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NvbComName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NvbComName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NvbComPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NvbComPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NvbComImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NvbComImage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NvbComStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NvbComStatus)
        </dd>
    </dl>
    
    <form asp-action="NvbDelete">
        <input type="hidden" asp-for="NvbComId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="NvbIndex">Back to List</a>
    </form>
</div>
